.txt-color {
    color: rgb(75, 75, 75);
  }
  
  .green_txt {
    color: #97ab60;
  }
  
  .grey_txt {
    color: rgba(0, 0, 0, 0.6);
  }
  
  .light_grey {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .dark_grey {
    color: rgba(0,0,0,0.8) !important;
  }
  
  .black_txt {
    color: black;
  }
  
  .white_txt {
    color: #fff;
  }
  
  .white_txt_imp {
    color: #fff !important;
  }
  
  .icon-color {
    color: #b4b9d8;
  }
  
  .golden {
    color: gold;
  }
  
  .orange-color {
    color: #e9630c !important;
  }
  
  .bg-orange-color {
    background-color: #e9630c;  
  }
  
  .orange-border {
    border: 1px solid #e9630c !important;
  }
  
  .mango {
    color: #ffad02;
  }
  
  .mango-border {
    border: 1px solid #ffad02 !important;
  }
  
  .blue-color {
    color: #006ed7;
  }
  
  .blue-icon {
    color: #b4b9d8;
  }
  
  .blue-bkg {
    background: #b4b9d8;
  }
  
  .bg-color {
    background-color: #f2f5fa;
  }
  